body{
    background-color: #283149;
    text-align: center;
}
h1{
    color: #DBEDF3;
    font-size:5rem;
    font-family: "Arvo",cursive;
    text-shadow: 3px 0 #DA0463;

}
footer{
    color:#DBEDF3;
    font-family:sans-serif;
}
button{
    padding:40px;
    background-color: rgb(145, 185, 164);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    font-size:60px ;
    color:crimson;
    font-family: "Arvo",cursive;
    text-shadow: 3px 0 #DA0463;
    
}
img{
    width:100px;
}
button:hover{
    background-color: rgb(68, 222, 124);
    color:rgb(186, 236, 5);
    background-image: url(image/drum.png);
}

